#imageFormContainer {
    padding: 1em;
    margin : 3em;
    -webkit-border-radius: 10px 10px 10px 10px;
     border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 30px 60px 0 rgb(0 0 0 / 30%);
}

.imageLabel {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

#advancedFilters {
    text-align: center;
}
